@import './style/base.css';
@import './style/navigation.css';
@import './style/hero.css';
@import './style/how-it-works.css';
@import './style/features.css';
@import './style/contact.css';
@import './style/footer.css';
@import './style/about.css';
@import './style/price.css'

